<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BigDataTypeMapper">
    <resultMap id="result" type="bigDataType">
        <result property="id" column="id"/>
        <result property="dataType" column="data_type"/>
        <result property="dataTypeEnglish" column="data_type_english"/>
    </resultMap>

    <sql id="base_column_list">
        id, data_type, data_type_english
    </sql>

    <select id="acquiredAllBigDataType" resultMap="result">
        SELECT <include refid="base_column_list"/> FROM bigdatatypes;
    </select>

    <select id="getBigDataTypeByEnglishName" parameterType="String" resultMap="result">
        SELECT <include refid="base_column_list"/> FROM bigdatatypes WHERE data_type_english = #{dataTypeEnglish};
    </select>

    <select id="getBigDataTypeByChineseName" parameterType="String" resultMap="result">
        SELECT <include refid="base_column_list"/> FROM bigdatatypes WHERE data_type = #{dataType};
    </select>

    <insert id="saveBigDataType" parameterType="bigDataType">
        INSERT INTO bigdatatypes(data_type, data_type_english) VALUES(#{dataType}, #{dataTypeEnglish})
    </insert>

</mapper>